@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Sixtyfour+Convergence&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    font-family: "Poppins", serif;
    overflow-x: hidden;
}

header{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color:#B11114;
    padding: 20px;
}
nav{
    width: 40%;
}
ul{
    width: 100%;
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    
}

.red-up{
    width: 100vw;
    background-color: #880002;
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
h1{
    margin-bottom: 25px;
}
.container{
    width: 100vw;
    background-color: #EE595C;
    display: flex;
    justify-content: space-around;
    padding: 90px;
}
.item{
    width: 30%;
    background-color: #880002;
    padding: 30px;
    border-radius: 12px;
}